{% extends "base.html" %}

{% block content %}
<section class="container">
	<article class="one-third column">
		<h3>About Me</h3>
		<p>I am a 29 years passionate and self-taught software engineer and a senior web developer, with 8 years of experience building large, consumer-focused content sites at <span itemprop="worksFor">globo.com</span>, one of the top-rated portals of news, sports and entertainment throughout Latin America.</p>
		<a href="http://victorpantoja.com/about" class="button">More About Me</a>
	</article>
	<article class="one-third column">
		<h3>Work</h3>
		<ul class="square">
			<li><strong>globoesporte.com</strong>: the first top-rated sports portals in Brazil</li>
			<li><strong>sportv.com</strong>: the second one :)</li>
			<li><strong>euatleta.com</strong>: for running funs!</li>
			<li><strong>cartolafc.globo.com</strong>: a fantasy game about soccer</li>
		</ul>
		<a href="http://victorpantoja.com/work" class="button">View Work</a>
	</article>
	<article class="one-third column">
		<h3>Contact</h3>
		<ul class="square">
			<li><strong>LinkedIn</strong>: <a href="http://www.linkedin.com/in/victorpantoja" target="_new">linkedin.com/in/victorpantoja</a></li>
			<li><strong>Twitter</strong>: <a href="http://twitter.com/victorpantoja" target="_new"> @victorpantoja </a></li>
			<li><strong>GitHub</strong>: <a href="http://github.com/victorpantoja" target="_new">github.com/victorpantoja </a></li>
		</ul>
	</article>
</section>
{% end %}