{% extends "base.html" %}

{% block content %}
<section class="container">
	<article class="sixteen column">
		<h4>A Web Service for Flexible Integration of Social Networks Mobile Applications with Social Networks</h3>
		<p>Published in MPAC '11 Proceedings of the Third International Workshop on Middleware for Pervasive Mobile and Embedded Computing. This article was presented at the M-MPAC 2011 in Lisbon, Portugal.</p>
		<p>View Article @ <a href="http://dl.acm.org/citation.cfm?id=2090320" target="_new">ACM</a></p>
	</article>
</section>
{% end %}