{% extends "base.html" %}

{% block content %}
<section class="container">
	<div class="one-third column">
		<div class="module">
			<div class="module-img">
				<a href="http://globoesporte.com">
					<img width="300" height="214" src="/static/images/globoesporte.png" alt="globoesporte.com">
					<span></span>
				</a>
				<div class="thumbLink">
					<a class="popLink" href="http://globoesporte.com" title="View site"></a>
				</div>
			</div>
			<div class="module-meta">
				<h5><a href="http://globoesporte.com">globoesporte.com</a></h5>
				<p>Since 2011, I have been working as software developer in globoesporte.com and sportv.com, both written in Python/Django. The web sites are, respectively, the first and second top-rated sports portals in Brazil. In these projects, in addition to the Back End, I also have developed the Front End, consolidating the knowledge of jQuery and CSS and Semantic Web, used for relationship content.</p>
			</div>
		</div>
	</div>

	<div class="one-third column">
		<div class="module">
			<div class="module-img">
				<a href="http://combate.globo.com">
					<img width="300" height="214" src="/static/images/combate.png" alt="Cartola FC">
					<span></span>
				</a>
				<div class="thumbLink">
					<a class="popLink" href="http://combate.globo.com" title="View site"></a>
				</div>
			</div>
			<div class="module-meta">
				<h5><a href="http://combate.globo.com">UFC Combate</a></h5>
				<p>Besides all technologies used by globoesporte.com, we focused on technologies to improve page rank, such as using HTML5 and Schema.org tags.</p>
			</div>
		</div>
	</div>

	<div class="one-third column">
		<div class="module">
			<div class="module-img">
				<a href="http://cartolafc.globo.com">
					<img width="300" height="214" src="/static/images/cartola.png" alt="Cartola FC">
					<span></span>
				</a>
				<div class="thumbLink">
					<a class="popLink" href="http://cartolafc.globo.com" title="View site"></a>
				</div>
			</div>
			<div class="module-meta">
				<h5><a href="http://cartolafc.globo.com">Cartola FC</a></h5>
				<p>Cartola FC, a SporTV.com's fantasy game, works with data about users and leagues that have hundreds, or even thousands, of users. It also has statistics about each player of the Brazilian soccer league. In each round, there is a process we call "market update" in which the players' scores are calculated, the users' scores are calculated according to the team he put together and finally the leagues are ranked.</p>
			</div>
		</div>
	</div>

<!--
This process involves a database with more than 2GB of data. The challenge in 2010 version was to optimize this process, that used to take about 14 hours, to be held in just 4 hours. We used multiprocessing and multi threads to perform this optimization while optimizing the data structure and the python code. As we could develop the entire system from scratch, development of Cartola FC and also the process of market update were designed to achieve the performance goal. The result of this work was a market update performed in 40 min.
With an architecture built with 100% free software and using Python language, the fully dynamic application broke paradigms in the company by proposing an innovative and robust, highly scalable and performative application (serves 2 million users), using Python, Tornado, nginx and MySQL. Moreover, the Front End was developed using jQuery and CSS. I developed several APIs to integrate with  Cartola FC mobile application. In this project, I also have the opportunity to work with MongoDB, Redis, memcached and to study, superficially, the Hadoop.
-->
</section>
{% end %}