<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Victor Pantoja | Software Engineer</title>
	<meta name="description" content="I am a 29 years passionate and self-taught software engineer and a senior web developer, with 8 years of experience building large, consumer-focused content sites">
	<meta name="author" content="Victor Pantoja">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:title" content="Victor Pantoja | Software Engineer"/>
	<meta property="og:description" content="I am a 29 years passionate and self-taught software engineer and a senior web developer, with 8 years of experience building large, consumer-focused content sites"/>
	<meta property="og:image" content="http://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/c60.36.446.446/s200x200/185448_262226513787496_7405137_n.jpg"/>
	<meta property="og:url" content="http://victorpantoja.com"/>
	<meta property="og:site_name" content="Victor Pantoja Portfolio"/>
	<meta property="og:type" content="website"/>
	<meta property="fb:profile_id" content="victor.pantoja.77"/>
	<meta property="fb:app_id" content="156684834419134"/>

	<link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">
	<link rel="stylesheet" href="stylesheets/layout.css">
	<link rel="stylesheet" href="stylesheets/style.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>
<body itemscope itemtype="http://schema.org/Person">
	<a href="https://github.com/victorpantoja/portfolio"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
	<header class="container">
		<div class="sixteen columns">
			<h1 class="remove-bottom" style="margin-top: 40px" itemprop="name">Victor Pantoja</h1>
			<h3 itemprop="jobTitle">Senior Software Engineer</h2>
			<h5>[This is the very first version! Be nice :)]</h5>
		</div>
	</header>
	<nav>
		<div class="container">
			<div class="sixteen columns">
				<ul>
					<li class="first"><a href="http://victorpantoja.com/about">About</a></li>
					<li class=""><a href="http://victorpantoja.com/work">Work</a></li>
					<li class="last"><a href="http://victorpantoja.com/contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<section class="container">
		<article class="one-third column">
			<h3>About Me</h3>
			<p>I am a 29 years passionate and self-taught software engineer and a senior web developer, with 8 years of experience building large, consumer-focused content sites at <span itemprop="worksFor">globo.com</span>, one of the top-rated portals of news, sports and entertainment throughout Latin America.</p>
			<a href="http://victorpantoja.com/about" class="button">More About Me</a>
		</article>
		<article class="one-third column">
			<h3>Work</h3>
			<p>I've been working as a web developer since I was a trainee.</p>
			<ul class="square">
				<li><strong>globoesporte.com</strong>: the first top-rated sports portals in Brazil</li>
				<li><strong>sportv.com</strong>: the second one :)</li>
				<li><strong>euatleta.com</strong>: </li>
			</ul>
			<a href="http://victorpantoja.com/work" class="button">View Work</a>
		</article>
		<article class="one-third column">
			<h3>Contact</h3>
			<ul class="square">
				<li><strong>LinkedIn</strong>: <a href="http://www.linkedin.com/in/victorpantoja" target="_new">linkedin.com/in/victorpantoja</a></li>
				<li><strong>Twitter</strong>: <a href="http://twitter.com/victorpantoja" target="_new"> @victorpantoja </a></li>
			</ul>
		</article>
	</section>

	<footer id="footer" class="sixteen columns container">
		<ul class="six columns alpha">
			<li>
			© 2013 <a href="http://victorpantoja.com/" itemprop="url" title="Victor Pantoja">Victor Pantoja</a>
			</li> 
		</ul>
		<ul id="footer_links" class="ten columns omega">
			<li><a href="mailto:victor.pantoja@gmail.com" itemprop="email">victor.pantoja@gmail.com</a></li>
		</ul>
	</footer>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-42431048-1', 'victorpantoja.com');
	  ga('send', 'pageview');
	</script>
</body>
</html>